{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/core.cache {:mvn/version "0.7.1"}
        integrant/integrant {:mvn/version "0.7.0"}
        com.taoensso/timbre {:mvn/version "4.10.0"}
        grafter/grafter {:mvn/version "2.1.18"}}

 :aliases {:dev {:extra-paths ["test"
                               "test/resources"]
                 }}}
